*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 16px;
    background-color: #001524;
    border: 8px solid #15616D;
    border-radius: 8px;
}

#display {
    border: 5px solid #15616D;
    border-radius: 8px;
    width: 605px;
    height: 120px;
    margin-top: 12px;
    background-color: #FFECD1;
}

#input {
    /* LAYOUT */
    display: flex;
    align-items: center;
    padding-left: 4px;

    /* BOX */
    border: 1px solid green;
    height: 25%;

    /* TEXT */
    font-size: 20px;
    color: grey;
}

#results {
    /* LAYOUT */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 8px;
    

    /* BOX */
    height: 100%;

    /* TEXT */
    font-size: 72px;
    font-weight: bold;
    font-family: "Playfair Display";
    color: #78290F;
}

#buttonGrid {
    display: flex;
}

.buttons {
    /* TEXT */
    font-size: 64px;
    font-weight: bold;
    font-family: "Playfair Display";
    color: #78290F;

    /* BOX */
    border: 5px solid #15616D;
    border-radius: 8px;
    padding: 8px;
    height: 102px;
    width: 102px;
    margin: 12px;
    background-color: #FFECD1;

    /* LAYOUT */
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.buttons:hover {
    cursor: pointer;
}

#buttonEquals {
    height: 216px;
    background-color:#FF7D00;
}

#buttonClear {
    background-color: rgb(225, 40, 40);
}

#buttonDelete {
    font-size: 56px;
}